{{extend 'layout.html'}}

<script>
    // Set correct menu view.
    $('#menu-detections').addClass('active');
    $('#menu-ports-scan').addClass('active');
    // Include specific CSS
    $('head').append("<link href=\"{{=URL('static','css/ports_scan.css')}}\" rel=\"stylesheet\">");
</script>

<h3 class="title1">Detection of TCP Ports Scans</h3>

{{if not session.logged:}}
<div class="alert alert-danger" role="alert">
   <strong>Error: </strong>You must be logged to view this page!
</div>
{{else:}}

{{if ('alert_type' in globals()) and alert_type != "":}}
<div class="alert alert-{{=alert_type}}" role="alert">
    <strong>
        {{if alert_type == "danger":}}Error:
        {{elif alert_type == "success":}}Success:
        {{elif alert_type == "info":}}Info:
        {{elif alert_type == "warning":}}Warning:
        {{pass}}
    </strong>{{=alert_message}}
</div>
{{pass}}



<!-- Custom Scripts -->
<script src="{{=URL('static','js/custom/datetime_interval.js')}}"></script>
<script src="{{=URL('static','js/custom/ports_scan.js')}}"></script>
<!-- //Custom Scripts -->

{{pass}}