{{extend 'layout.html'}}

<script>
    // Set correct menu view.
    $('#menu-dashboard').addClass('active');
</script>

{{if ('alert_type' in globals()) and alert_type != "":}}
<div class="alert alert-{{=alert_type}}" role="alert">
    <strong>
        {{if alert_type == "danger":}}Error:
        {{elif alert_type == "success":}}Success:
        {{elif alert_type == "info":}}Info:
        {{elif alert_type == "warning":}}Warning:
        {{pass}}
    </strong>{{=alert_message}}
</div>
{{pass}}

<div class="row dashboard">
    <!-- Network Statistics -->
    <div class="col-md-4">
        <div class="widget-shadow" id="network-statistics">
            <h4 class="title">Current Network Statistics</h4>
            <!-- Status -->
            <div id="chart-sum-status" class="chart-status"></div>
            <!-- Main Chart -->
            <div id="chart-sum" class="zingchart"></div>
        </div>
    </div>

    <!-- Framework Architecture -->
    <div class="col-md-8">
        <div class="widget-shadow" id="framework-architecture">
            <h4 class="title">Framework Architecture</h4>
            <!-- Architecture image -->
            <img src="{{=URL('static','images/architecture.png')}}">
            <!-- Architecture description -->
            <p>
                The basis of the Stream4Flow framework is formed by the
                <a href="https://github.com/CESNET/ipfixcol/tree/devel" target="_blank">IPFIXCol</a> collector, which
                enables incoming IP flow records to be transformed into the JSON format provided to the
                <a href="http://kafka.apache.org/" target="_blank">Kafka</a> messaging system. The selection of Kafka
                was based on its scalability and partitioning possibilities, which provide sufficient data throughput.
                <a href="http://spark.apache.org/streaming/" target="_blank">Apache Spark</a> was selected as the data
                stream processing framework for its quick IP flow data throughput, available programming languages
                (Scala, Java, or Python) and MapReduce programming model. The analysis results are stored in
                <a href="https://www.elastic.co/v5" target="_blank">Elastic Stack</a> containing Kibana, which enables
                browsing and visualizing the results. The Stream4Flow framework also contains an additional web
                interface in order to make administration easier and visualize complex results of the analysis.
            </p>
        </div>
    </div>
</div>
<style>
/* Hack to see the whole watermark */
#chart-sum-license-text {
    padding-top: 7px !important;
}
</style>


<!-- Load Custom Scripts -->
<script src="{{=URL('static','js/custom/default.js')}}"></script>
<!-- //Load Custom Scripts -->
