#!/bin/bash

if [ -z "$1" ] 
then
    echo "You must specify the application with arguments"
    exit 1;
fi
APPLICATION=$@
MODULESDIR=$(dirname "${APPLICATION}")/modules

# Output colors
GREEN='\033[0;32m'
NC='\033[0m' # No Color
PYFILES=''

if [ -d $MODULESDIR ]
then
    echo -e "${GREEN}[info] Creating zip with all modules${NC}"
    zip -r modules{.zip,}
    $PYFILES = "--py-files modules.zip"
fi


echo -e "${GREEN}[info] Running application $APPLICATION...${NC}"

export SPARK_MASTER_HOST={{ masterIP }}
export SPARK_LOCAL_HOST={{ masterIP }}
{{ dir_spark }}/spark-bin/bin/spark-submit --total-executor-cores {{ spark_worker_cores }} --executor-memory {{ (spark_worker_memory * 0.8)|int }}M $PYFILES {{ dir_applications }}$APPLICATION
