input {
        tcp {
                port => 56789
                codec => json_lines
        }
}
output {
        kafka {
                topic_id => "ipfix.entry"
		workers => 4
		linger_ms => 5
        }
}
