{{extend 'layout.html'}}

<script>
    // Set correct menu view.
    $('#menu-about').addClass('active');
</script>

<h3 class="title1">About</h3>

<div class="grid_3 widget-shadow">
    <div class="panel-grids">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Acknowledgement</h3>
            </div>
            <div class="panel-body">
                Development of this system and corresponding research was supported by the Technology Agency of the Czech Republic under No. TA04010062 <i>Technology for processing and analysis of network data in big data concept</i>.
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
