#wrapper {
    width: 100%;
}
#page-wrapper {
    padding:5em 2em 2.5em;
	background-color: #F1F1F1;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
	margin-bottom: 0;
}

.sidebar .nav-second-level li a {
    padding-left: 53px;
    font-size: .9em;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media(min-width:768px){
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
.chart-status{
    text-align: center;
    padding-top: 15%;
    color: #777777;
    width:100%;
}
.chart-protocols-statistics .chart-status{
    height:540px;
}
.chart-status span{
    position: relative;
    top: -4px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 0.5em;
}
#chart-tabs {
    padding-left: 1em;
    margin: 0 1em;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs a{
    color: #668586;
}
#chart-type-selector{
    padding-left: 1em;
    margin-left: 1.1em;
    margin-right: 2em;
}
.dashboard {
    margin: 1em 0 0;
}
#network-statistics, #framework-architecture {
    padding: 1em;
    height: 480px;
}
#chart-sum-status {
    padding-top: 30%;
}
#framework-architecture img{
    width: 65%;
    display: block;
    margin: 1em auto;
}
#framework-architecture p{
    text-align: justify;
    padding: 1em 1em 0em 1em;
    font-size: 15px;
}
