/* Host Statistics */
#network {
    width: 139px;
}
.close-detailed-panel {
    float: right;
    margin: 0.1em 1.8em 1em 0;
    font-size: 0.9em;
    cursor: pointer;
}
.chart-type-selector {
    padding-left: 1em;
    margin-left: 1.1em;
    margin-right: 2em;
}
.chart-status, .zingchart {
    height: 420px;
}
.zingchart {
    display: none;
}
