<ul class="nav" id="side-menu">
    <!-- Dashboard -->
    <li>
        <a href="/index" id="menu-dashboard"><i class="fa fa-home nav_icon"></i>Dashboard</a>
    </li>

    <!-- Protocols Statistics -->
    <li>
        <a href="/protocols-statistics/protocols-statistics" id="menu-protocols-statistics"><i class="fa fa-line-chart nav_icon"></i>Protocols Statistics</a>
    </li>

    <!-- System -->
    <li id="menu-system">
        <a href="#"><i class="fa fa-wrench nav_icon"></i>System<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li>
                <a href="/system/users-management" id="menu-usersManagement">Users Management</a>
            </li>
            <li>
                <a href="/system/about" id="menu-about">About</a>
            </li>
        </ul>
    </li>
</ul>