<ul class="nav" id="side-menu">
    <!-- Dashboard -->
    <li>
        <a href="/index" id="menu-dashboard"><i class="fa fa-home nav_icon"></i>Dashboard</a>
    </li>
    <!-- //Dashboard -->

    <!-- Statistics -->
    <li id="menu-statistics">
        <a href="#"><i class="fa fa-line-chart nav_icon"></i>Statistics<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            {{include 'menu/protocols_statistics.html'}}
            <!-- include statistics -->
        </ul>
    </li>
    <!-- //Statistics -->

    <!-- Detections (remove display: none to allow this menu item) -->
    <li id="menu-detections" style="display: none;">
        <a href="#"><i class="fa fa-shield nav_icon"></i>Detections<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <!-- include detections -->
        </ul>
    </li>
    <!-- //Detections -->

    <!-- System -->
    <li id="menu-system">
        <a href="#"><i class="fa fa-wrench nav_icon"></i>System<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li>
                <a href="/system/users-management" id="menu-usersManagement">Users Management</a>
            </li>
            <li>
                <a href="/system/about" id="menu-about">About</a>
            </li>
        </ul>
    </li>
    <!-- //System -->
</ul>